
@font-face {
    font-family: "URWGeometric-Regular";
    src: url('../fonts/URWGeometric-Regular.woff2') format('woff2'),
         url('../fonts/URWGeometric-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;     
}

@font-face {
    font-family: "URWGeometric-Bold";
    src: url('../fonts/URWGeometric-Bold.woff2') format('woff2'),
         url('../fonts/URWGeometric-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;     
}

@font-face {
    font-family: "URWGeometric-Black";
    src: url('../fonts/URWGeometric-Black.woff2') format('woff2'),
         url('../fonts/URWGeometric-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;     
}
